Source: caddy
Maintainer: Miek Gieben <miek@miek.nl>
Build-Depends: debhelper (>= 9), ca-certificates, wget, dh-systemd, lsb-release

Package: caddy
Architecture: any
Description: Caddy HTTP/2 web server
Depends: adduser
