Source: pandoc2rfc
Section: multiverse/text
Priority: extra
Maintainer: Miek Gieben <miek@miek.nl>
Build-Depends: debhelper (>= 8.0.0), pandoc, xsltproc
Standards-Version: 3.9.3
Homepage: https://github.com/miekg/pandoc2rfc
#Vcs-Git: git://git.debian.org/collab-maint/pandoc2rfc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pandoc2rfc.git;a=summary

Package: pandoc2rfc
Architecture: all
Depends: ${misc:Depends}, python-xml2rfc | xml2rfcx, pandoc, xsltproc, docbook-xml
Description: Use Pandoc markup to create I-Ds and RFCs
  Pandoc2rfc presents a technique for using Pandoc syntax as a
  source format for documents in the Internet-Drafts (I-Ds) and Request
  for Comments (RFC) series.
  .
  Pandoc is an "almost plain text" format and therefor
  particularly well suited for editing RFC-like documents.  The syntax
  itself is a superset of the syntax championed by Markdown.
  .
  Pandoc2rfc generates XML compatible with RFC2629.
