#!/usr/bin/make -f

VERSION 	:= "2.23.0"
LINUX_ARCH	:= $(DEB_TARGET_ARCH)
DEB_HOST_ARCH   := $(DEB_TARGET_ARCH)
DISTRIBUTION    := $(shell lsb_release -sr)
PACKAGEVERSION  := $(VERSION)-0~$(DISTRIBUTION)0

# Debian calls it armhf, we call it arm.
ifeq ($(DEB_TARGET_ARCH),armhf)
    LINUX_ARCH=arm
endif

%:
	dh_clean
	dh $@ --with systemd

override_dh_strip:
	echo dh_strip

override_dh_auto_clean:
	rm -rf debian/prometheus/usr/bin

override_dh_auto_test:
override_dh_auto_build:
	@echo noop

override_dh_auto_install:
	mkdir -p debian/prometheus/usr/bin && \
	cp prometheus debian/prometheus/usr/bin

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
