#!/usr/bin/make -f

DEB_HOST_ARCH   := $(DEB_TARGET_ARCH)
DISTRIBUTION    := $(shell lsb_release -sr)
PACKAGEVERSION  := $(VERSION)-0~$(DISTRIBUTION)0

%:
	dh_clean
	dh $@ --with systemd

override_dh_strip:
	echo dh_strip

override_dh_auto_clean:
	rm -rf debian/coredns/usr/bin debian/coredns/etc/coredns debian/man

override_dh_auto_test:
override_dh_auto_build:
	@echo noop

override_dh_auto_install:
	mkdir -p debian/coredns/usr/bin debian/coredns/etc/coredns
	mkdir -p debian/man
	cp coredns debian/coredns/usr/bin
	cp man/* debian/man/
	cp debian/Corefile debian/coredns/etc/coredns/Corefile

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
