Source: systemk
Maintainer: Miek Gieben <miek@miek.nl>
Build-Depends: debhelper (>= 9), ca-certificates, dh-systemd, lsb-release

Package: systemk
Architecture: any
Description: Virtual kubelet for systemd
Depends:
