[Unit]
Description=Systemk a virtual kubelet backed by systemd
Documentation=https://github.com/virtual-kubelet/systemk
After=network.target

[Service]
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
NoNewPrivileges=true
Environment="NODE_IP=0.0.0.0"
Environment="NODE_EXTERNAL_IP=0.0.0.0"
EnvironmentFile=/etc/default/systemk
User=root
WorkingDirectory=~
ExecStart=/usr/bin/systemk --kubeconfig /etc/systemk/admin.kubeconfig --node-ip $NODE_IP --node-external-ip $NODE_EXTERNAL_IP \
--cluster-domain $CLUSTER_DOMAIN
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
