[Unit]
Description=CoreDNS DNS server
Documentation=https://github.com/virtual-kubelet/systemk
After=network.target

[Service]
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
EnvironmentFile=/etc/default/systemk
User=root
WorkingDirectory=~
ExecStart=/usr/bin/systemk --kubeconfig /etc/systemk/kube.config
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
